<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=HANAM-PC\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=demo_timkiemviec"
   providerName="System.Data.OleDb" />
 </connectionStrings>
	<system.web>
		<compilation debug="true">
		</compilation>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
